<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page3</title>
</head>
<body>
<h1>{{message}}</h1>
{% if profile %}
<table>
    <tr><td>Name:{{profile.first_name}}{{profile.last_name}}</td></tr>
    <tr><td>contact number:{{profile.phone_no}}</td></tr>
    <tr><td>Email: {{profile.email}}</td></tr>
    <tr><td>Gender:{{profile.gender}}</td></tr>
</table><br>
{% endif %}
<a href = {% url 'home1' %}>check another email</a><br><br>
<a href = {% url 'home' %}>add user information</a><br><br>



</body>
</html>